body{
	padding: 40px;
}
.pricelist table {
	border:0px; /* border="0" */
	border-collapse:collapse;
	border-spacing:0;
	
	margin: 0em 20px 2em 0px;
}
.pricelist table td{
	padding:0px; /* cellpadding="0" */
	
	border-bottom:1px solid #d7d7d7;
	padding:3px 5px;
	text-align:left;
	vertical-align:top;
}

.pricelist table.noborder td {
	border: none;
}

.pricelist table th, .pricelist table td {
	border-bottom:1px solid #d7d7d7;
	padding:5px 5px;
	text-align:left;
	vertical-align:top;
}
.pricelist table th {
	background-color: #fff;
	vertical-align: middle;
}
col {
	border-right:1px solid #d7d7d7;
}
col.full_width {
	width:100%;
}
col.last_col {
	border:medium none;
}
.nowrap {
	white-space: nowrap;
}
.pricelist .name {
	background-color: #fff;
}
.pricelist tr:hover {
	background-color: #fff;
}
#pricetable th.sortable {
	cursor: pointer;
	background-color:#eee;
}